body{
    background-color: #74cae6;
    color:white;
}
h1{
    display: flex;
    color: #fff;
    font-family:"Helvetica Neue", Helvetica ;
    justify-content: center;
    padding-top: 10%;
}
#enter-email{
    display: flex;
    justify-content:center;
}
p{
    font-family: "Helvetica Neue", Helvetica ;
    font-size: 20px;
}

#message {
    text-align:center;
    color: rgb(211, 70, 70);
    font-size: 15px;
}
